.g-contentcubes {

    .g-title {
        margin: 0;
    }

    .g-description {
        color: #000;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .cube-items-wrapper {
        background: transparent;
        color: $white;

        // Images Position
        .cube-row {
            .g-block {
                padding: 0.5rem;
            }

            // Label
            .item-label {
                color: #8c0001;
                font-family: 'ZapfHumnst BT', 'Lato', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
            }

            // Title
            .item-title {
                color: #000;
                text-align: center;
            }

            &.g-grid {
                &.image-position-right {
                    flex-flow: row-reverse wrap;
                }
            }
        }

        // Images
        .cube-image-wrapper {
            position: relative;
            z-index: 1;
            overflow: hidden;

            img {
                display: block;
                height: auto;
                transform: none;
            }

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                content: "";
                background-color: transparent;
            }
        }
    }
}
